.weather-card {
    display: grid;
    grid-template-columns: 20% 20% 20% 10% 20% 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .city {
        margin: auto;
    }

    .weather_main {
        margin: auto;
    }

    .weather_temp {
        margin: auto;
    }

    .icon {
        margin: auto;
    }

    .icon {
        margin: auto;
    }

    .wind {
        margin: auto;

        img{
            height: 30px;
            width: 30px;
        }

        span {
            margin: auto;
        }
    }

    .remove {
        margin: auto;

        img{
            height: 30px;
            width: 30px;
        }
    }
}