.weather-search-title {
    font-size: 20px;
}

.weather-search-form {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-column-gap: 50px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;

    .btn-add {
        border: none;
        background-color: transparent;
        background-image: url(/assets/icons/add.svg);
        background-size: contain;
    }
}